<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge|chrome=1" />
    <meta name="author" content="fcdcyy@sina.cn">
    <meta name="Copyright" content="fcdcyy">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=n.o,adress=no">
    <meta http-equiv="cache-control" content="no-siteapp"/>
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='css/index.css' />
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">博客主页</a>
            <a class="blog-nav-item" href="/login">登录</a>
            <a class="blog-nav-item" href="/reg">注册</a>
            <a class="blog-nav-item" href="#">瀑布流</a>
            <a class="blog-nav-item" href="#">关于我</a>
        </nav>
    </div>
</div>